/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
$slider-button-background: var(--slider-button-background, #f0f0f0);
$slider-button-color: var(--slider-button-color, #000);
$slider-button-border-color: var(--slider-button-border-color, #ccc);
$slider-button-icon-color: var(--slider-button-icon-color, #fff);
$slider-button-icon-background: var(--slider-button-icon-background, #007bff);

.elewa-slider-button {
  background-color: $slider-button-background;
  color: $slider-button-color;
  border: 1px solid $slider-button-border-color;
}
=======

@import '_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // can move from here if it's ever necessary
  font-family: 'DMSans-Regular';
}

@font-face {
  font-family: "DMSans-Bold";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans-Bold-Italic";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans-Italic";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans-Medium";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans-Medium-Italic";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans-Regular";
  src: local("UtileDisplay-Regular"), url(./assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
}
>>>>>>> 84c8344a4d16c0d6cbbb99b94ffde88681c88422
