/* You can add global styles to this file, and also import other style files */

@import '_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // can move from here if it's ever necessary
  font-family: 'DMSans-Regular';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--elewa-website-color-primary-offwhite-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Bold-Italic';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Italic';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Medium';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Medium-Italic';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Regular';
  src: local('UtileDisplay-Regular'),
    url(./assets/fonts/DM_Sans/DMSans-Regular.ttf) format('truetype');
}
