/* You can add global styles to this file, and also import other style files */
:root {
    --button-bg-color: blue;
    --button-color: white;
    --button-hover-bg-color: black;
    --button-hover-color: white;
    /*CSS variables as needed */
  }
//   There was no root css file i could find, this was the closest
  