/* app.component.scss */
.text-content {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: #333;
    height: 500px;
    width: 500px;
    font-size: medium;
    font-weight: 600;
  }
  
  .pink-bg {
    background-color:  #DECDD9;
  }
  
  .white-bg {
    background-color: white;
  }
  