
.container{
    max-width: 960px; /* On larger devices */

    margin: 5px auto; /* Right margin */

    .normal-button{
        float: right; /* Move the button to the right */
        margin-left: 10px;
      }

}
